@{
    <br />
    ViewBag.Title = "درباره ما";
}
<h2 align="right">@ViewBag.Title.</h2>
<h3 align="right">@ViewBag.Message</h3>

<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d680.6972168946955!2d51.467153682968!3d35.75179051003896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3f8e0386a97a61e5%3A0x79d8fb30732c0d58!2sFarzaneh%2C+Tehran!3m2!1d35.751624!2d51.4673397!5e0!3m2!1sen!2sir!4v1502001786757" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<br /><br />
<p align="right"><span class="glyphicon glyphicon-map-marker"></span>بزرگراه رسالت - کوچه فرجادی کوشا(فرزانه سابق)- پلاک 40</p>
<p align="right"><span class="glyphicon glyphicon-envelope"></span> پست الکترونیکی : Leila_n1368@yahoo.com</p>
<p align="right"><span class="glyphicon glyphicon-earphone"></span>شماره تماس : 09127193785</p>