@{
    ViewBag.Title = "تماس با ما";
}



@*<div class="w3-container w3-deep-orange">
        <h2>اطلاعات تماس</h2>
    </div>
    <hr />

    <p p class="serif">

        <a href="../Map.html">
            <span class="glyphicon glyphicon-map-marker"></span>

        </a><t><b>-</b></t>

        تهران نارمک 46 متري شرقي پلاک 3 واحد4.
    </p>
    <p p class="serif" p class="line">

        <span class="glyphicon">
            &#xe182;
        </span><t><b>-</b></t>
        021-77926167
    </p>



    <p p class="serif" p class="line">
        <a href="mailto:info@some.com"><span class="glyphicon glyphicon-envelope"></span></a>
        <t><b>-</b></t>
        </span>ahdiyehrahimi@gmail.com
    </p>

    <div class="w3-container w3-deep-orange">
        <h2>با ما در تماس باشيد</h2>
    </div>
    <p class="alert">لطفا اطلاعات را به صورت کامل تکميل کنيد. </p>

    <form action="" method="post">

        <input type="email" class="form-control" id="email" placeholder="نام و نام خانوادگي: :" name="email"><br />
        <input type="email" class="form-control" id="email" placeholder="ايميل :" name="email"><br />
        <input type="email" class="form-control" id="email" placeholder="موضوع :" name="email"><br />
        <input type="email" class="form-control" id="email" placeholder="متن پيام :" name="email"><br />

        <input type="submit" class="btn btn-info" value="ارسال">

    </form>

    <br />






    <div class="jumbotron text-center">
        <h1> ديجي مووي</h1>
        <p>فروش پايان راه نيست آغاز يک تعهد است.</p>
        <h6>کليه حقوق محفوظ است© 2001 -2015 -DigiMovi.Com  </h6>
    </div>*@

<body>


    <h2 class="Title-About">تماس با ما</h2>

    <div class="section">
        <form action="">
            &nbsp; &nbsp; &nbsp; &nbsp; <label for="fname">نام : </label>
            &nbsp; &nbsp; &nbsp; &nbsp;<input type="text" id="fname" name="firstname" placeholder="نام خود را بنویسید...">
            <br />
            <label for="lname"> نام خانوادگی :</label>
            <input type="text" id="lname" name="lastname" placeholder="نام خانوادگی خود را تایپ نمایید...">
            <br />
            &nbsp; &nbsp; <label for="country">کشور:</label>
            &nbsp; &nbsp; &nbsp; &nbsp;<select id="country" name="country">
                <option value="australia">...</option>
                <option value="australia">استرالیا</option>
                <option value="canada">آمریکا</option>
                <option value="usa">ایران</option>
                <option value="usa">کانادا</option>
                <option value="usa">ژاپن</option>
                <option value="usa">چین</option>
            </select>
            <br />
            &nbsp; &nbsp;  &nbsp;&nbsp; <label for="subject">موضوع:</label>
            <textarea id="subject" name="subject" placeholder="متن خود را تایپ کنید..." style="height:200px"></textarea>
            <br />
            &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <input type="submit" value="ارسال">
        </form>
    </div>

</body>

